/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-light-pink: #ffcdd2;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-light-orange: #ffab91;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-light-orange);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  width: 90%;
  margin: 0 auto;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background: var(--color-dark-pink);
}

/* home */

#home {
  background: url(imgs/home_img.png) center/cover no-repeat;
  text-align: center;
  padding: 40px;
  width: 90%;
  margin: 0 auto;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__comment {
  color: var(--color-white);
}

.home__btn {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  margin: 24px;
  padding: 8px 12px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
}

/* about */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.about__comment {
  padding: 0 15%;
  text-align: center;
}

.about__majors {
  display: flex;
}

.about__majors .major {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 30px;
  text-align: center;
}

.about__majors .major .major__icon {
  color: var(--color-blue);
  font-size: var(--font-large);
  border: 1px solid var(--color-blue);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.about__majors .major .major__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__jobs {
  align-self: flex-start;
}

.about__jobs .job {
  margin: 10px 0;
}
.about__jobs .job .job__logo {
  width: var(--font-large);
  float: left;
  margin: 10px 20px;
}

.about__jobs .job p {
  font-size: var(--font-micro);
  white-space: nowrap;
}
